#main {
	display: inline;
}

.who {
	color:red;
	padding-right: :
	10px;
}

.what {
	color:blue;
}

.when {
	color:green;
	border-bottom: 1px, solid;s
}

.why {
	color:orange;
	display: none;
	border: 1px, solid;
}

#full {
	padding-left: 30px;

}

#head {
	color:red;
	text-align: center;
	border:solid red 10px;
	background-color: black;
	padding:10px;
}

#footer {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 10px;
	border-top: : red 10px solid;
	text-align: center;
}

#count {
	border: solid 1px;
	float:left;
}

button {
	float:right;
}