#main {
	display: inline;
}

.who {
	color:red;
	padding-right: :10px;
}

.what {
	color:blue;
}

.when {
	color:green;
}

.why {
	color:orange;
	display: none;
}

span {
	background-color: grey
}

#full {
	background-color: grey;
	padding-left: 30px;
	border-bottom: red solid 10px;
}

#head {
	color:red;
	text-align: center;
	border-bottom:solid red 10px;
}
